.regSchedule-content{
}
 
.check-doctor-div{}
.reg-schdule-check1{
  width: 500px;
}
.reg-schdule-check2{
  width: 500px;
}


.reg-check{
  
}
.reg-check-btn button{
  border: none;
  width: 100px;
  height: 50px;
}