.doctor-page{
}
.doctor-page-container{
  margin: 50px 350px;
  display: grid;
  grid-template-columns: 600px 800px;
  height: 600px;
}
.doctorPage-img{
  width: 1000px;
}
.doctorPage-img img {
  margin-top: 5px;
  margin-left: 100px;
  width: 100%; 
  max-width: 420px; 
  height: auto; 
  border-radius: 8px;
  object-fit: cover; 
}

.doctor-profile{
  margin-top: 10px;
}

.doctor-profile h3{
  color: #313131;
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
  width: 200px;
}

.doctor-profile p{
  color: #646464;
  padding-top: 3px;
}

.doctor-profile i{
  color: #1a9ba1;
  font-size: 1.2rem;
}

.doctor-profile-title {
  display: flex; 
  align-items: center; 
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #1a9ba1;
  width: 300px;
}

.doctor-profile-title h1 {
  margin: 0; 
}

.doctor-profile-title p {
  margin: 0; 
  color: #7c7c7c;
  padding-top: 14px;
  font-size: 1.2rem;
  font-weight: 600; 
}

/* .doctor-profile-about{
  border-top: 2px solid #1a9ba1;
  padding-top: 20px;
} */


.doctor-schedule{
  margin-top: 30px;
}


.doctor-schedule-btn{
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #21b2b9;
  font-size: 15px;
  font-weight: 600;
  margin-top: 40px
}

.doctor-schedule-btn:hover{
  background-color: #1a9ba1;
  cursor: pointer;
}


.modal-schedule-title{
  text-align: center;
  margin-bottom: 30px;
}