.family-div{
  
}
.family-container{
  margin: 0 auto;
  height: 950px;
  width: 1300px;
}
.family-header{
  margin-top:30px;
  width: 100%;
  height: 260px;
  display: flex;
  position: relative;
  background-image: url(../images/청진기.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
.family-header-main{
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
}
.family-header-main h2{
  margin-left: 570px;
  font-size: 2.1rem;
}
.family-header-main-btn{
  display: flex;
  gap: 10px;
  position: absolute;
  right: 60px;
}
.family-header-main-btn button:hover{
  cursor: pointer;
}
.family-header-main-btn i{
  font-size: 1.2rem;
  margin-right: 4px;
}
.family-header-main-btn button:nth-child(1){
  width: 170px;
  height: 50px;
  font-size: 1.1rem;
  border-radius: 30px;
  border: 2px solid #1c9397;
  background-color: #1c9397;
  color: #fff;
  font-weight: bold;
}
.family-header-main-btn button:nth-child(2){
  width: 170px;
  height: 50px;
  font-size: 1.1rem;
  border-radius: 30px;
  border: 2px solid #1c9397;
  background-color: #fff;
  color: #1c9397;
  font-weight: bold;
}

.family-tab{
  text-align: center;
  height: 630px;
}
.family-tab button{
  width: 450px;
  height: 70px;
  border: none;
  background-color: #cccccc;
  color: #fff;
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 40px;
  transform: translateY(-50%);
  z-index: 10;
  transition: background-color 0.2s ease;
}
.family-tab button.active{
  border-radius: 0%;
  background-color: #4fbcc0;
  color: #fff;
}
.family-tab button:hover{
  cursor: pointer;
}
.contentA{
  position: relative;
  width: 100%;
  text-align: left;
  height: 500px;
}
.contentA-div{
  display: grid;
  grid-template-columns: 400px 800px;
}
.contentA-slogan{
  font-size: 45px;
  height: 200px;
  margin-left: 100px;
  width: 800px;
}

.contentA div:nth-child(2){
  margin-left: 50px;
}

.family-intro, .infection-intro, .cancer-intro, .urology-intro, .pediatric-intro, .heart-intro {
  margin-left: 50px;
  margin-bottom: 20px; 
  font-size: 17px;
}

.family-intro i, .infection-intro i, .cancer-intro i,
.urology-intro i, .heart-intro i, .pediatric-intro i{
  font-size: 30px;
}


/* intro icon color */
.family-intro i:nth-child(2){
  color: skyblue;
}
.family-intro i:nth-child(3){
  color: rgb(98, 169, 197);
}
.family-intro i:nth-child(4){
  color: skyblue;
}

.infection-intro i:nth-child(2){
  color: rgb(146, 146, 255);
}
.infection-intro i:nth-child(3){
  color: rgb(247, 119, 119);
}
.infection-intro i:nth-child(4){
  color: rgb(146, 146, 255);
}

.cancer-intro i:nth-child(2){
  color: rgb(126, 126, 126);
}
.cancer-intro i:nth-child(3){
  color: rgb(247, 119, 119);
}
.cancer-intro i:nth-child(4){
  color: rgb(126, 126, 126);
}

.urology-intro i:nth-child(2){
  color: rgb(107, 117, 111);
}
.urology-intro i:nth-child(3){
  color: rgb(236, 220, 130);
}
.urology-intro i:nth-child(4){
  color: rgb(107, 117, 111);
}

.pediatric-intro i:nth-child(2){
  color: rgb(255, 144, 162);
}
.pediatric-intro i:nth-child(3){
  color: rgb(245, 95, 120);
}
.pediatric-intro i:nth-child(4){
  color: rgb(255, 28, 66);
}

.heart-intro i:nth-child(2){
  color: rgb(252, 144, 162);
}
.heart-intro i:nth-child(3){
  color: skyblue;
}
.heart-intro i:nth-child(4){
  color: rgb(252, 144, 162);
}

/* 인트로 아이콘 끝 */

.family-intro-div {
  display: block;
}

.family-disease {
  float: left;
  margin-top: 70px;
  margin-left: 30px; 
  width: 1200px;
}

.family-disease h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #3a3a3a;
}

.family-disease i{
  color: #1c9397;
  margin-right: 5px;
}

.family-disease-table {
  width: 1200px;
  border-collapse: collapse;
  border-top: 2px solid #8b8b8b;
  font-weight: bold;
  color: #3a3a3a;
}

.family-disease-table td {
  border: 1px solid #ccc;
  padding: 15px;
  text-align: center;
}



.family-doctor-container{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-left: 200px;
}
