.findDepartment-div{
  width: 100%;
  margin: 0 auto;
  background-image: url(../images/bg-main-pattern.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
  margin-top: 30px;
}

.findDepartment-container {
  margin: 30px auto;
  width: 60%;
  height: 490px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

.findDepartment-title {
  margin-bottom: 50px;
  font-size: 25px;
  color: gray;
}

.findDepartment-list ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-content: center; 
  margin-bottom: 100px;
}

.findDepartment-list li {
  border: 2px solid #22959b;
  border-radius: 20px;
  width: 200px;
  height: 55px; 
  text-align: center;
  padding-top: 14px;
  color: #22959b;
  font-weight: bold;
  cursor: pointer;
}
.findDepartment-list li:hover{
  background-color: #22959b;
  color: #fff;
}
.findDepartment-list li>span{
  vertical-align: middle;
  font-size: 1.2rem;
}


