.login-div{
  width: 60%;
  margin: 30px auto;
  margin-top: 50px;
}

.login-head{
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-main-contain{
  padding: 40px 50px 22px 50px;
  background-color: #f5f5f5;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 2px solid #06767a;
  border-bottom: 2px solid #06767a;
  border-left: 1px solid#ddd;
  border-right: 1px solid#ddd;
}

.login-content-left{
  width: 50%;
}

.login-content-right{
  width: 50%;
  padding: 0px 25px 25px 25px;
  margin-left: 30px;
  border-left: 1px solid #ddd;
  font-size: 0.95rem;
}

.login-content-left > ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.login-content-left > ul span:hover{
  cursor: pointer;
}

.main-login{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  vertical-align: middle;
}

.login-id-pw{
  padding: 1px 0;
}

.login-btn{
  padding: 0;
}

.main-login > div > ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  height: 40px;
}

.main-login > div > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 10px;
}

.main-login > div > ul > li > input{
  padding: 3px 2px;
  width: 300px;
  margin-left: 10px;
}

.main-login > div > button{
  background-color: #06767a;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  padding: 15px 30px 15px 30px;
  height: 80px;
  position: absolute;
  top: 54%;
  right: 0;
  transform: translateY(-50%);
  border: none;
}

.main-login > button:hover{
  background-color: #17878b;
}

.id-save{
  margin-left: 80px;
  padding-top: 30px;
}

.login-text{
  text-align: center;
  /* margin-bottom: 10px; */
}

.icon-box{
  text-align: center;
  margin: 8px auto;
}

.icon-box p{
  margin-bottom: 4px;
}

/* login main end */

.login-form-div{
  padding: 3px 3px 3px 0;
  border: 1px solid #ddd;
}

.login-form-title{
  padding: 20px 0 25px 0;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
}

.login-form-title p{
  color: #111;
}

.login-form-title h3{
  font-size: 24px;
  color: #0e787c;
}

.mychart{
  padding: 25px 0 30px 60px;
  width: 100%;
  margin: 0 auto;
}

.mychart h4{
  color: #111;
  font-weight: 600;
  font-size: 18px;
}

.mychart p{
  margin-bottom: 17px;
}

.mychart span{
  font-size: 12px;
}

.myChartBenefit{
  padding: 24px 30px 28px 30px;
  width: 100%;
  background-color: #f5f5f5;
}

.myChartBenefit h4{
  padding-bottom: 13px;
  font-weight: 600;
  color: #0e787c;
  font-size: 15px;
}

.myChartBenefit ul{
  position: relative;
  height: 105px;
}

.myChartBenefit li{
  position: absolute;
  padding-left: 10px;
  cursor: pointer;
}

.myChartBenefit li::before{
  content: "▶";
  margin-right: 3px;
  font-size: 13px;
  vertical-align: top;
}

.benefit1{
  top: 0;
  left: 0;
}

.benefit2{
  top: 28px;
  left: 0;
}

.benefit3{
  top: 55px;
  left: 0;
}

.benefit4{
  top: 84px;
  left: 0;
}

.benefit5{
  top: 0;
  left: 270px;
}

.benefit6{
  top: 28px;
  left: 270px;
}

.benefit7{
  top: 55px;
  left: 270px;
}

.benefit8{
  top: 84px;
  left: 270px;
}

.benefit9{
  top: 0;
  left: 538px;
}

.benefit10{
  top: 28px;
  left: 538px;
}

.benefit11{
  top: 55px;
  left: 538px;
}

.benefit12{
  top: 84px;
  left: 538px;
}

.benefit13{
  top: 0;
  left: 807px;
}

.tip{
  margin: 15px 0 0 0 !important;
  color: #666;
  font-size: 13px;
  text-align: right;
}

/* login-table-end */