.item{
  display: block;
  position: relative;
  z-index: 1;
}

.item img{
  max-width: 100%;
}

.item {
  display: block;
  width: 100%;
  position: relative;
  padding-top: 50vh;
  height: 130px;
}

.bg-image {
  transition: opacity 2s ease-in-out; /* 전환 시간 확인 */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
}

.BG_Image > img {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-position: 50%;
}

.BG_Image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: 0;
  transition: opacity 1s ease-in-out;
}

.bg-image.active1 {
  opacity: 1;
  z-index: 1;
}

.BG_Image__0 {
  z-index: 1;
}

.BG_Image__1 {
  z-index: 0;
}

.BG_Image__2 {
  z-index: 0;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.BG_Text {
  position: absolute;
  top: 60%;
  left: 43%;
  transform: translate(-43%, -60%);
  z-index: 2;
  text-align: left;
  color: #fff;
}

/* main-bg-end */

.content{
  text-align: left;
  transform: translate(-30%, -50%);
  z-index: 2;
}

.content span{
  color: #fff;
}

.content span:first-child{
  font-size: 66px;
  line-height: 72px;
  text-align: left;
}

.content span:last-child{
  display: block;
  margin-top: 15px;
  font-size: 24px;
  line-height: 32px;
}

/* main-img-end */

.main-section{
  width: 100%;
  background: url(../images/bg-main-pattern.png);
  background-position: top;
  height: 200px;
  padding-bottom: 60px;
  z-index: 0;
  position: relative;
}

.main-section .main-icon-div {
  position: absolute;
  width: 80%;
  margin: 0 auto;
  z-index: 3; /* 필요한 경우 메인 섹션 내 요소에도 우선순위 부여 */
  top: 50%;
  left: 10%;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
}

.main-icon-box{
  display: flex;
  font-size: 18px;
  gap: 20px;
  margin: 0 auto;
  margin-right: 30px;
  cursor: pointer;
}

.main-icon-box::after{
  content: "|";
  height: 30px;
  font-size: 45px;
  color: #0e787c;
  margin-left: 30px;
}

.last-box::after{
  content: "";
}

.main-icon-box:hover.main-icon-box > div strong{
  color: #0e787c;
}

.bi-person-vcard{
  font-size: 3rem;
}

.bi-search-heart{
  font-size: 3rem;
}

.bi-calendar-week{
  font-size: 3rem;
}

.bi-calendar-check{
  font-size: 3rem;
}

/* main-section-end */

.main-section-middle{
  width: 100%;
  padding: 60px 30px 60px 230px;
  background-color: #0e787c;
}

.main-section-middle > div{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-left: 100px;
}

.main-section-left-div{
  flex: 0 0 auto;
  width: 328px;
  height: 231px;
  padding-top: 20px;
  margin: 0 auto;
  color: #fff;
}

.main-section-left-div h3{
  font-size: 48px;
  margin-bottom: 15px;
  line-height: 1;
}

.main-section-right-div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 100px;
  gap: 50px;
}

.news-div{
  width: 300px;
  height: 200px;
  background-color: #fff;
  position: relative;
  padding: 30px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-div p{
  font-weight: bold;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
}

.news-div div > span {
  color: #666;
}

.news-box{
  padding: 7px;
  text-align: center;
  font-size: .8rem;
  color: #fff;
  background-color: #ac47d1;
  position: absolute;
  top: -5%;
  left: 10%;
}

@media screen and (min-width: 1280px) and (max-width: 1516px){

  .content{
    text-align: left;
    z-index: 2;
  }
  
  .content span:first-child{
    font-size: 55px;
    line-height: 72px;
    text-align: left;
  }
  /* main-img-end */

  .main-section .main-icon-div {
    position: absolute;
    width: 80%;
    margin: 0 auto;
    z-index: 3; /* 필요한 경우 메인 섹션 내 요소에도 우선순위 부여 */
    top: 50%;
    left: 10%;
    display: flex;
    align-items: center;
    transform: translateY(-50%);
  }
  
  .main-icon-box{
    display: flex;
    font-size: 14px;
    gap: 20px;
    margin: 0 auto;
    margin-right: 30px;
    cursor: pointer;
  }
  
  .main-icon-box::after{
    content: "|";
    height: 30px;
    font-size: 45px;
    color: #0e787c;
    margin-left: 30px;
  }
  
}

@media screen and (min-width: 1025px) and (max-width: 1279px) {
  
  .BG_Text {
    position: absolute;
    top: 60%;
    left: 53%;
    transform: translate(-53%, -60%);
    z-index: 2;
    text-align: left;
    color: #fff;
  }

  .content span:first-child{
    font-size: 50px;
    line-height: 72px;
    text-align: left;
  }
  /* main-img-end */

  .main-section{
    width: 100%;
    background: url(../images/bg-main-pattern.png);
    background-position: top;
    height: 150px;
    /* padding-bottom: 60px; */
    z-index: 0;
    position: relative;
  }

  .main-section .main-icon-div {
    position: absolute;
    width: 80%;
    margin: 0 auto;
    z-index: 3; /* 필요한 경우 메인 섹션 내 요소에도 우선순위 부여 */
    top: 60%;
    left: 10%;
    display: flex;
    align-items: center;
    transform: translateY(-50%);
  }
  
  .main-icon-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-right: 30px;
    cursor: pointer;
  }

  .main-icon-box > div > p{
    font-size: 0;
  }
  
  .main-icon-box::after{
    content: "";
    height: 30px;
    font-size: 45px;
    color: #0e787c;
    margin-left: 30px;
  }
  /* main-section-end */
  
  .main-section-middle > div{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-left: 80px;
  }

  .main-section-right-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 140px;
    gap: 20px;
  }
  
  .news-div{
    width: 300px;
    height: 200px;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .news-div p{
    font-weight: bold;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
  }
  
  .news-div div > span {
    color: #666;
  }
  
  .news-box{
    padding: 7px;
    text-align: center;
    font-size: .8rem;
    color: #fff;
    background-color: #ac47d1;
    position: absolute;
    top: -5%;
    left: 10%;
  }
}

@media screen and (min-width: 770px) and (max-width: 1025px) {


  .BG_Text {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-60%, -60%);
    z-index: 2;
    text-align: left;
    color: #fff;
  }

  .content span:first-child{
    font-size: 45px;
    line-height: 72px;
    text-align: left;
  }

  .content span:last-child{
    font-size: 20px;
  }
  /* main-img-end */

  .main-section{
    width: 100%;
    background: url(../images/bg-main-pattern.png);
    background-position: top;
    height: 150px;
    /* padding-bottom: 60px; */
    z-index: 0;
    position: relative;
  }

  .main-section .main-icon-div {
    position: absolute;
    width: 80%;
    margin: 0 auto;
    z-index: 3; /* 필요한 경우 메인 섹션 내 요소에도 우선순위 부여 */
    top: 60%;
    left: 10%;
    display: flex;
    align-items: center;
    transform: translateY(-50%);
  }
  
  .main-icon-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-right: 30px;
    cursor: pointer;
  }

  .main-icon-box > div > p{
    font-size: 0;
  }
  
  .main-icon-box::after{
    content: "";
    height: 30px;
    font-size: 45px;
    color: #0e787c;
    margin-left: 30px;
  }
  /* main-section-end */
  
  .main-section-middle > div{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-left: 120px;
  }

  .main-section-left-div{
    font-size: 0.8rem;
  }

  .main-section-right-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 180px;
    gap: 20px;
  }
  
  .news-div{
    width: 300px;
    height: 220px;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .news-div:nth-child(2), .news-div:nth-child(3){
    display: none;
  }
  
  .news-div p{
    font-weight: bold;
    font-size: 13px;
    text-overflow: ellipsis;
    color: #333;
  }
  
  .news-div div > span {
    color: #666;
  }
  
  .news-box{
    padding: 7px;
    text-align: center;
    font-size: .8rem;
    color: #fff;
    background-color: #ac47d1;
    position: absolute;
    top: -5%;
    left: 10%;
  }
}

@media screen and (max-width: 767px) {

  .content{
    width: 350px;
  }

  .logo img{
    margin-left: -100px;
  }

  .BG_Text {
    position: absolute;
    top: 40%;
    left: 85%;
    transform: translate(-80%, 70%);
    z-index: 2;
    text-align: left;
    color: #fff;
  }
  
  .content span:first-child{
    font-size: 35px;
    line-height: 20px;
    text-align: left;
  }

  .content span:last-child{
    font-size: 20px;
  }
  /* main-img-end */

  .main-section{
    width: 100%;
    background: url(../images/bg-main-pattern.png);
    background-position: top;
    height: 150px;
    /* padding-bottom: 60px; */
    z-index: 0;
    position: relative;
  }

  .main-section .main-icon-div {
    position: absolute;
    width: 95%;
    margin: 0 auto;
    z-index: 3; /* 필요한 경우 메인 섹션 내 요소에도 우선순위 부여 */
    top: 60%;
    left: 0%;
    display: flex;
    align-items: center;
    transform: translateY(-50%);
  }
  
  .main-icon-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-right: 20px;
    cursor: pointer;
  }

  .main-icon-box > div > p{
    font-size: 0;
  }
  
  .main-icon-box::after{
    content: "";
  }
  /* main-section-end */
  
  .main-section-middle > div{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-left: 0px;
    flex-direction: column;
  }

  .main-section-middle{
    padding: 0;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .main-section-left-div{
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 150px;
  }

  .main-section-right-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: column;
    margin-right: 100px;
    gap: 20px;
  }
  
  .news-div{
    width: 300px;
    height: 100px;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .news-div:nth-child(3){
    display: none;
  }
  
  .news-div p{
    font-weight: bold;
    font-size: 13px;
    text-overflow: ellipsis;
    color: #333;
    padding-bottom: 35px;
  }
  
  .news-div div > span {
    color: #666;
  }
  
  .news-box{
    padding: 7px;
    text-align: center;
    font-size: .8rem;
    color: #fff;
    background-color: #ac47d1;
    position: absolute;
    top: -5%;
    left: 10%;
  }
}
