
.chart-div{
  width: 80%;
  margin: auto;
}

.chart-content > table{
  border: 1px solid black;
  width: 80%;
  margin: auto;
}

.chart-content > table > thead > tr:first-child > td {
  text-align: start;
}