.chart-div{
  width: 100%;
  margin: auto;
}

.chart-content > h2{
  /* border: 1px solid red; */
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.chart-content > table{
  border: 1px solid black;
  width: 30%;
  margin: auto;
}

.chart-content > table > thead > tr:first-child > td {
  text-align: start;
}

.button3{
  /* border: 1px solid rebeccapurple; */
  display: flex;
  justify-content: space-around;
  width: 15%;
  margin-left: 42.5%;
}

.button3 > button{
  margin-top: 40px;
  margin-bottom: 20px;
  width: 60px;
  height: 30px;
  font-size: 15px;
  border-radius: 20px;
  border: none;
  background-color: #5b9c9e;
  color: white;
  cursor: pointer;
}