.bar-body{
  border: 1px solid rgb(216, 215, 215);
  height: 80px;
  background-color: rgb(243, 242, 242);
}

.bar-body > ul:nth-child(1) > li > div:nth-child(1){
  padding: 1px 10px 10px 10px;
  background-color: #0e787c;
  color: white;
  border-radius: 20px;
}

.icon1{
  color: white;
  font-size: 40px;
}

.bar-body{
  display: flex;
  justify-content: space-evenly;
}

.icon{
  color: rgb(105, 105, 105);
  font-size: 40px;
}

.bar-body ul > li > div{
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.font > div:nth-child(1){
  font-size: 13px;
}

.font > div:nth-child(2){
  font-size: 18px;
}

/* .agreePage{
  display: flex;
  align-items: center;
}

.regConfirm{
  display: flex;
  align-items: center;
} */