.regPage-div{
  width: 60%;
  /* border-top: 2px solid #0e787c; */
  border-bottom: 1px solid #0e787c;
  margin: 30px auto;
  margin-bottom: 79px;
}

.regPage-title{
  margin-bottom: 24px;
  text-align: center;
  font-size: 24px;
  color: #0e787c;
  line-height: 1;
  padding-bottom: 15px;
  margin-top: 30px;
  font-weight: bold;
}

.id-ul-div{
  width: 80%;
  margin: 0 auto;
}

.id-ul-div > ul > li{
  margin-bottom: 13px;
}

.id-ul-div > ul > li > span{
  color: #0e787c;
}

.ps-div{
  padding-bottom: 5px;
  text-align: right;
  font-size: 13px;
  width: 80%;
  margin-top: 20px;
}

/* id-ul-div-end */

.regPage-table{
  width: 61%;
  border-top: 2px solid #267376;
  margin: 0 auto;
}

.name td{
  padding-left: 15px;
  border-bottom: 1px solid #ccc !important;
  background-color: #f5f5f5;
}

.gender td{
  padding-left: 15px;
  border-bottom: 1px solid #ccc !important;
  background-color: #f5f5f5;
}

.regPage-table tr td:first-child{
  text-align: center;
}

.regPage-table tr td:last-child{
  padding: 9px 15px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc !important;
  background-color: #fff;
  letter-spacing: -1px;
}

input[type="radio"]{
  vertical-align: -2px;
  padding-right: 10px;
}

/* regPage-table-end */

.birthday-ps-div{
  width: 80%;
  padding-bottom: 5px;
  text-align: right;
  font-size: 13px;
  margin-top: 20px;
}

.birthday-table{
  width: 61%;
  border-top: 2px solid #267376;
  margin: 0 auto;
}

.birthday-table tr td:first-child{
  text-align: center;
}

.birthday-table tr td:last-child{
  padding: 9px 15px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc !important;
  background-color: #fff;
  letter-spacing: -1px;
}

.birthday td{
  padding-left: 15px;
  border-bottom: 1px solid #ccc !important;
  background-color: #f5f5f5;
}

.birthday select{
  margin-right: 10px;
}

.Tel td{
  padding-left: 15px;
  border-bottom: 1px solid #ccc !important;
  background-color: #f5f5f5;
}

.Tel span{
  margin: 0 5px;
}

/* birthday-table-end */

.regPageBtn-div{
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.regBtn{
  display: inline-block;
  margin-right: 3px;
  padding: 9px 15px;
  border: 1px solid #06767a;
  background-color: #0e787c;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 30px;
}


/* regBtn-end */

@media screen and (max-width: 1460px) {

  .regPage-div > .regBar{
    display: none;
  }

}

@media screen and (min-width: 1728px) and (max-width: 1752px) {
  .Tel > td > input{
    width: 150px;
  }
}

@media screen and (min-width: 1651px) and (max-width: 1728px) {
  .Tel > td > input{
    width: 140px;
  }
}

@media screen and (min-width: 1572px) and (max-width: 1651px) {
  .Tel > td > input{
    width: 130px;
  }
}

@media screen and (min-width: 1495px) and (max-width: 1572px) {
  
  .Tel > td > input{
    width: 120px;
  }

}

@media screen and (min-width:1416px) and (max-width: 1495px) {
  
  .Tel > td > input{
    width: 110px;
  }

}

@media screen and (min-width: 1339px) and (max-width: 1416px) {
  
  .Tel > td > input{
    width: 100px;
  }

}

@media screen and (min-width:1261px) and (max-width: 1339px) {
  
  .Tel > td > input{
    width: 90px;
  }

}

@media screen and (min-width: 1183px) and (max-width: 1261px) {
  
  .Tel > td > input{
    width: 80px;
  }
}

@media screen and (min-width: 1105px) and (max-width: 1183px) {
  
  .Tel > td > input{
    width: 70px;
  }
}

@media screen and (min-width: 910px) and (max-width: 1105px) {
  
  .Tel > td > input{
    width: 45px;
  }

}

@media screen and (max-width: 1038px) {
  
  .birthday > td > select{
    width: 40px;
  }

}

@media screen and (max-width: 909px) {
  
  .id-ul-div > ul{
    display: none;
  }

  .Tel > td:nth-child(1){
    vertical-align: middle;
  }

}

@media screen and (max-width: 833px) {
  
  .birthday > td:nth-child(1) {
    font-size: 14px;
  }

  .Tel > td:nth-child(1){
    font-size: 14px;
    vertical-align: middle;
  }

}

@media screen and (max-width: 815px) {
  
  .Tel > td > select{
    width: 45px;
  }

  .Tel > td > input{
    width: 29px;
  }

}


