.container3{
  /* border: 1px solid red; */
  width: 60%;
  height: 500px;
  margin: 40px auto;
}

.container3 > h2{
  margin-top: 10px;
  text-align: center;
}

.container3 > table{
  border: 1px solid lightgray;
  width: 80%;
  margin: 30px auto;
  text-align: center;
}

.container3 > table > thead{
  background-color: rgb(184, 226, 184);
  font-weight: bold;
} 

.container3 > table > tbody > tr:nth-child(even){
  background-color: rgb(250, 248, 229);
}


