.reCheck-container{
  border: 1px solid red;
  width: 70%;
  height: 900px;
  margin: 30px auto;
  text-align: center;
}

.day-container{
  border: 1px solid plum;
  width: 60%;
  height: 700px;
  text-align: center;
  margin: 30px auto;
}

.day-container > table{
  border: 1px solid lightgray;
}

