.reservation-div{
  width: 100%;
  margin: 0 auto;
  background-image: url(../images/bg-main-pattern.png);
  background-size: contain;
  padding: 50px;
  margin-top: 30px;
}

.reserv-inner{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px ;
  flex-wrap: wrap;
  height: 803px;
  margin: 0 auto;
  overflow: hidden;
}

.reservation-box{
  width: 305px;
  height: 60%;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  margin: 0 10px;
  position: relative;
  border: 1px solid #e6e6e6;
  text-align: center;
}

.reservation-box-main{
  width: 305px;
  height: 60%;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  margin: 0 10px;
  position: relative;
  border: 1px solid #e6e6e6;
  text-align: center;
  padding: 30px 0;
}

.reservation-box-main div:first-child{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.reservation-box-main div:nth-child(2){
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 15px;
  padding-top: 50px;
  margin: 0 20px;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 20px;
}

.reservation-box-main div:nth-child(2) > h3{
  font-size: 18px;
  font-weight: 400;
}

.reservation-box-main div:nth-child(2) > p:nth-child(2){
  font-size: 36px;
  color: #0e787c;
  font-weight: bold;
}

.reservation-box-main div:nth-child(3){
  padding: 20px 0;
}

.reservation-box-main div:nth-child(3) > p{
  font-size: 13px;
  padding: 0 20px;
  text-align: left;
  list-style: inside;
  text-indent: -15px;
  margin-left: 20px;
}

.reservation-box-main div:nth-child(3) > p::before{
  content: "※ ";
  color: #0e787c;
  font-weight: bold;
}

.reservation-box div:first-child{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.member-reservation{
  cursor: pointer;
}

.bi-person{
  font-size: 8rem;
}

@media screen and (max-width: 767px){
  .reservation-div{
    width: 100%;
    margin: 0 auto;
    background-image: url(../images/bg-main-pattern.png);
    background-size: contain;
    padding: 50px;
    margin-top: 15px;
  }

  .reserv-inner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px ;
    flex-wrap: wrap;
    height: 850px;
    margin: 0 auto;
  }

  .reservation-box{
    width: 305px;
    height: 45%;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    margin: 0 10px;
    position: relative;
    border: 1px solid #e6e6e6;
    text-align: center;
  }
  
  .reservation-box-main{
    width: 305px;
    height: 45%;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    margin: 0 10px;
    position: relative;
    border: 1px solid #e6e6e6;
    text-align: center;
    padding: 30px 0;
  }
}