.serviceCenter-div{
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  padding-top: 30px;
}

.title{
  width: 70%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.5rem;
}

.title h2{
  color: #333;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: -.025rem;
}

/* title-end */

.section-div{
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}

.section-container{
  display: flex;
  align-items: flex-start;
}

.section-container-left{
  width: auto;
}

.left-side{
  width: 190px;
}

.side-menu-ul{
  background-color: #fff;
  border: 1px solid #e5e5e5e5;
}

.side-menu-ul li{
  padding: 12px 24px;
}

.side-menu-ul > li h3{
  font-size: 1rem;
  color: #333;
  font-weight: 300;
  line-height: 1.25rem;
  word-break: break-all;
}

/* side-menu-end */

.cscenter-box{
  background-color: #fff;
  border: 1px solid #e5e5e5;
  margin-top: 10px;
  padding: 20px;
  width: 190px;
}

.cscenter-top{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
}

.bi-telephone{
  display: inline-flex;
  height: 20px;
  margin-right: 5px;
  margin-top: 5px;
  width: 20px;
}

.cscenter-top h4{
  color: #333;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 24px;
  word-break: break-all;
}

.cscenter-bottom h4{
  padding: 20px;
  font-size: 1.2rem;
  color: #525252;
  line-height: 20px;
  font-weight: bold;
}

/* section-left-end */

.section-container-right{
  flex: 1;
  margin-left: 20px;
}

.mycont{
  border: 1px solid #e5e5e5;
  height: 610px;
}

.right-top-div{
  border-bottom: 1px solid #e5e5e5;
  padding: 18px 26px;
}

.right-title{
  color: #0e787c;
  font-weight: 700;
}

/* right-title-end */

.right-bottom-div{
  padding: 18px 26px 80px;
}

.list-title{
  align-items: center;
  display: flex;
  font-size: .875rem;
  justify-content: space-between;
  padding: 14px 20px;
}

.list-title span{
  color: #333;
  font-size: .875rem;
  font-weight: 500;
  text-align: center;
}

.bold{
  border-bottom: 1px solid #ccc;
  align-items: center;
  display: flex;
  font-size: .875rem;
  justify-content: space-between;
  padding: 14px 20px;
}

.bold span{
  font-weight: 700;
}

.standard{
  border-bottom: 1px solid #ccc;
  align-items: center;
  display: flex;
  font-size: .875rem;
  justify-content: space-between;
  padding: 14px 20px;
  text-align: center;
}

/*  */

.writing{
  /* border: 1px solid black; */
  width: 10%;
  bottom: 50px;
  margin: auto;
  padding-left: 18px;
}

.joinBtn-writing{
  margin-right: 3px;
  padding: 9px 15px;
  border: 1px solid #06767a;
  background-color: #0e787c;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.standard > span:nth-child(2){
  cursor: pointer;
} 

.faq-container{
  margin: 15px 15px auto;
}

.faq-container > h2{
  margin-bottom: 30px;
  color: #0e787c;
  margin-left: 450px;
}

.faq-list{
  width: 100%;
}

.faq{
  border-bottom: 1px solid rgb(155, 155, 155);
  cursor: pointer;
}

.title-div{
  display: flex;
}

.faq-title{
  padding: 1rem;
  font-weight: 700;
}
.title-div:hover{
  background-color: rgba(20, 137, 141, 0.349);
  color: white;
  /* font-weight: 700; */
}

.title-div > div:nth-child(1){
  width: 3%;
  padding: 1rem;
}
.title-div > div:nth-child(2){
  width: 97%;
}

.faq-index{
  font-weight: bold;
  font-style: italic;
}

.faq-list > .faq:nth-child(1){
  border-top: 1px solid rgb(155, 155, 155);
}

.faq-detail{
  max-height: 0px;
  overflow: hidden;
  padding: 0 2rem;
  line-height: 23px;
  transition: all 0.3s ease;
}

.faq-detail.show{
  padding: 2rem 2rem;
  max-height: 300px;
}

.title-div.bg{
  background-color: rgba(20, 137, 141, 0.623);
  color: white;
}

.side-menu-ul > li > h3{
  font-weight: bold;
  cursor: pointer;
}

.customerAll{
  display: flex;
}

.customer-container{
  /* border: 1px solid red; */
  width: 50%;
  height: 100%;
}

.customerScroll{
  /* border: 1px solid blue; */
  width: 50%;
  height: 100%;
}

.customerImg{
  margin-left: 40px;
}

.scrollText{
  width: 450px;
  max-height: 400px;
  overflow-y: scroll;
  /* margin: 10px; */
  margin-left: 55px;
  background-color: rgb(238, 236, 236);
  border: 1px solid rgb(202, 202, 202);
}

.customer-container > h2{
  margin-bottom: 15px;
  margin: 18px 26px;
  color:  #0e787c;
}

.customer-suggestion > div > button{
  width: 150px;
  height: 50px;
  font-size: 15px;
  border: 1px solid white;
  font-weight: bold;
  color: white;
  background-color: #44839cbe;
  cursor: pointer;
}

.customer-suggestion > div > button:hover{
  background-color: #4cb1dabe;
}

.customer-suggestion{
  width: 300px;
  height: 200px;
  border: 1px solid white;
  background-color: #44839cbe;
  color: white;
  padding: 20px auto;
  margin-left: 130px;
  text-align: center;
}

.customer-suggestion > div{
  margin: 15px 20px;
}

.customer-suggestion > div > h2{
  margin-bottom: 15px;
}

.customer-suggestion > div > p{
  font-size: 15px;
  color: white;
  margin-bottom: 45px;
  font-size: 17px;
  font-weight: bold;
}

.customer-call{
  margin-top: 20px;
  /* border: 1px solid black; */
  height: 130px;
}

.customer-call > h2{
  margin: 10px;
}

.customer-callInfo{
  display: flex;
  gap: 10px;
  margin: 15px;
  padding-top: 5px;
}

.customer-callInfo > div:nth-child(1){
  border: 1px solid rgb(151, 151, 151);
  border-radius: 35px;
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 35px;
  color: rgb(91, 113, 173);
  padding-top: 11px;
}

.customer-callInfo > div:nth-child(2) > span:nth-child(1){
  font-size: 20px;
  font-weight: bold;
  color: rgb(73, 73, 73);
}

.customer-process{
  margin-top: 10px;
  /* border: 1px solid purple; */
}

.customer-process > h2{
  margin: 10px;
  margin-bottom: 20px;
}

.customer-process2{
  display: inline-flex;
  gap: 40px;
  margin-left: 20px;
}

.customer-process2 > div{
  border: 1px solid rgb(151, 151, 151);
  border-radius: 50px;
  width: 100px;
  height: 100px;
  font-size: 17px;
  color: rgb(91, 113, 173);
  margin: auto;
  text-align: center;
  padding-top: 13px;
}

.customer-process2 > div > span:nth-child(1){
  font-size: 30px;
}

.service-icon{
  margin-top: 30px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(151, 151, 151);
}

.callInfo{
  margin-top: 10px;
}

.callInfo2{
  color: rgb(151, 151, 151);
  font-weight: 600;
}