.supplier-div{
  width: 100%;
}

.main-box{
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.store-list{
  width: 70%;
}

.ordering-table{
  width: 100%;
  margin: 30px auto;
  margin-bottom: 70px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.ordering-table > thead > tr{
  border-bottom: 4px double rgba(0, 0, 0, 0.2);
}

.supplier-div{
  width: 60%;
  margin: 50px auto;
}

.list-div{
  width: 30%;
}

.regItem-div{
  width: 100%;
  background-color: #fff;
  /* box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3); */
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
}

.regItem-table > .title{
  font-size: 1.3rem;
}

.regItem-table input{
  padding: 3px;
  width: 100%;
}

.file-div input{
  border: 1px solid #fff;
  width: 90%;
  margin: 13px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 10px;
}

.btn-div{
  margin-top: 10px;
  text-align: center;
}

.btn-primary{
  display: inline-block;
  border: 1px solid #06767a;
  background-color: #0e787c;
  font-size: 18px;
  line-height: 1;
  color: #fff;
  font-weight: 600;
  padding: 13px 12px;
  cursor: pointer;
  border-radius: 8px;
}

.btn-Subprimary{
  display: inline-block;
  border: 1px solid #06767a;
  background-color: #0e787c;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  font-weight: 400;
  padding: 5px 4px;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 6px;
}

/* list-div-end */

.storeMenu{
  width: 100%;
  margin-top: 100px;
}

.title-bg{
  width: 100%;
  background-image: url(../images/shutterstock_335680307_core_2_2_1.jpg);
  padding: 70px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.title-bg h2{
  color: #fff;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.item-div-box {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* 아이템이 넘칠 때 다음 줄로 감 */
  gap: 22px;
  padding: 5px;
}

.item-div {
  width: 23%;
  display: flex;
  flex-direction: column; /* 텍스트와 이미지 세로 정렬 */
  justify-content: center;
  align-items: center;
  box-sizing: border-box; /* 보더와 패딩을 너비에 포함 */
  border: 1px solid #e5e5e5;
  margin: 3px;
  padding: 10px;
}

.item-div img {
  width: 200px;
  height: 200px;
}

.item-div h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%; /* 부모 요소의 너비를 가득 채우기 */
  text-align: center; /* 텍스트 중앙 정렬 */
}

.item-div p{
  text-align: center;
  margin: 7px;
}

.item-div > div > div{
  text-align: center;
}

.stock{
  width: 30%;
  text-align: right;
}

.item-div > input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
  width: 50px; /* 원하는 크기로 설정 */
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.upDownBtn{
  width: 50px;
}

.numberBtn{
  display: inline-block;
  border: 1px solid rgb(209, 209, 209);
  background-color: rgba(229, 229, 229, 0.898);
  color: #000;
  font-size: 13px;
  /* color: #fff; */
  width: 20px;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mina{
  font-size: 18px;
}

.numberBtn-div{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.updateNumberBtn{
  display: inline-block;
  border: 1px solid rgb(209, 209, 209);
  background-color: rgba(229, 229, 229, 0.898);
  color: #000;
  font-size: 13px;
  /* color: #fff; */
  width: 50px;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 5px;
}

