.contentContainer{
  border: 1px solid red;
  background-color: rgb(248, 246, 246);
  width: 100%;
  height: 100%;
}

.contentShow > h2{
  border-bottom: 1px solid lightgray;
  padding: 10px;
  color: rgb(75, 75, 75);
}

.contentHeader{
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.contentHeader > div:nth-child(1){
  font-size: 18px;
  color: rgb(56, 56, 56);
  font-weight: 550;
}

.contentHeader > div:nth-child(2){
  font-size: 13px;
  color: rgb(90, 89, 89);
  padding-top: 5px;
}

.contentBody{
  padding: 10px;
}

.contentShow{
  border: 1px solid blue;
  background-color: white;
  margin-left: 450px;
  margin-top: 70px;
  width: 53%;
  height: 800px;
}

.contentButton{
  border: 1px solid black;
  width: 15%;
  margin-left: 850px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contentButton > button:nth-child(1){
  background-color: white;
  border: 1px solid lightgray;
  color: rgb(1, 83, 1);
  width: 120px;
  height: 40px;
  font-size: 14px;
  cursor: pointer;
}

.contentButton > button:nth-child(2){
  background-color: #0e787c;
  color: white;
  border: none;
  width: 50px;
  border-radius: 18px;
  cursor: pointer;
}

.contentButton > button:nth-child(3){
  background-color: #0e787c;
  color: white;
  border: none;
  width: 50px;
  border-radius: 18px;
  cursor: pointer;
}

.replyReg{
  border: 1px solid black;
  width: 40%;
  margin: 20px auto;
  text-align: center;
}

.replyReg > input{
  width: 500px;
  height: 30px;
  font-size: 15px;
}

.replyDetail{
  border: 1px solid palevioletred;
  width: 40%;
  margin: 10px auto;
}

.replyInfo{
  display: flex;
  gap: 5px;
}

.replyIcon{
  /* border: 1px solid black; */
  padding-left: 3px;
  width: 35px;
  text-align: center;
  font-size: 30px;
  color: rgb(61, 103, 180);
}

.replyUpper{
  display: flex;
  gap: 580px;
}

.replyUpper > div:nth-child(2){
  /* border: 1px solid black; */
  font-size: 17px;
  color: rgb(83, 82, 82);
  cursor: pointer;
}

.replyUpper > div > div:nth-child(1){
  font-weight: bold;
  font-size: 15px;
  margin-top: 2px;
}

.replyUpper > div > div:nth-child(2){
  font-size: 12px;
  color: rgb(102, 101, 101);
  font-weight: bold;
}

.replyFont{
  font-size: 18px;
  margin-left: 7px;
}

