.App{
  width: 100%;
}

.header{
  width: 100%;
  background-color: #444;

}

.header-ul{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 90%;
  height: 38px;
  background-color: #444;
  gap: 30px;
}

.header-ul li{
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.header-ul li:hover{
  font-weight: bold;
}

.logo-header{
  width: 100%;
  height: 88px;
  background-color: #fff;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}

.logo{
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 88px;
  font-size: 15px;
}

.logo img{
  cursor: pointer;
}