.App{
  width: 100%;
}

.header{
  width: 100%;
  background-color: #444;

}

.header-ul{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 90%;
  height: 38px;
  background-color: #444;
  gap: 30px;
}

.header-ul li{
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.header-ul li:hover{
  font-weight: bold;
}

.logo-header{
  width: 100%;
  height: 88px;
  background-color: #fff;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}

.logo{
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 88px;
  font-size: 15px;
}

.logo img{
  cursor: pointer;
}

/* logo-end */

.sideBar-div{
  position: fixed;
  left: 8%;
  top: 30%;
  transform: translate(-8%, -30%);
  border-radius: 10px;
}

.sideBar-div-tel{
  position: relative;
  margin-bottom: 10px;
  padding: 15px 10px;
  background-image: linear-gradient(402deg, #166b6e, #81b9d4);
  color: #fff;
  text-align: center;
}

.sideBar-div-tel p:nth-child(1){
  font-weight: 800;  
}
.sideBar-div-tel p:nth-child(1) i{
  margin-right: 3px;
}

.sideBar-div-tel p:nth-child(2){
  font-size: 13px;
}


.sideBar-div-menu{
  text-align: center;
  font-weight: 600;
  color: #444;
}

.sideBar-div-menu span:hover{
  color: #086166;
  transition: 0.4s;
}

.sideBar-div-menu li div{
  cursor: pointer;
}

.sideBar-div .sideBar-div-menu li:nth-child(n +2):nth-child(-n + 8){
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #d1d1d1;
}

.sideBar-div-menu-first{
  padding: 28px;
  background-image: linear-gradient(402deg, #166b6e, #81b9d4);
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sideBar-div-menu-last{
  background-image: linear-gradient(402deg, #166b6e, #81b9d4);
  color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sideBar-div-menu i {
  font-size: 35px;
}
a{
  color: #fff;
  text-decoration-line: none;
}

/* 사이드 바 end */

.footerWrap{
  width: 100%;
  height: 210px;
  background-color: #7e8389;
  min-width: 1280px;
}

.footerMenu{
  position: relative;
  margin: 0 auto;
  width: 1200px;
}

.footerLogo{
  float: left;
  width: 310px;
  margin-top: 50px;
  margin-bottom: 17px;
}

.address{
  display: block;
  font-style: normal;
  color: #fff;
  letter-spacing: -1px;
  font-size: 12px;
  padding-top: 8px;
  line-height: 18px;
}

/* footerLogo-end */

.footerMenu-ul ul {
  position: absolute;
  width: 86%;
  top: 45px;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerMenu-ul ul li {
  color: #fff;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: 400;
  padding: 0 0 0 2px;
  cursor: pointer;
  position: relative; /* ::before를 위한 위치 설정 */
  overflow: hidden;   /* 게이지 바가 요소 밖으로 넘치지 않도록 설정 */
}

.footerMenu-ul ul li:nth-child(2) {
  color: orange;
  font-weight: bold;
}

.footerMenu-ul ul li::after {
  content: "|";
  padding-left: 5px;
  vertical-align: middle;
  font-size: 8px;
}

.footerMenu-ul ul li:last-child::after{
  content: "";
}

/* 게이지 바 스타일 */
.footerMenu-ul ul li::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 90%;
  width: 0%;
  height: 3px;
  background-color: orange;
  transition: width 0.4s ease, left 0.4s ease; /* 애니메이션 */
}

.footerMenu-ul ul li:hover::before {
  width: 100%;  /* li 요소 전체 너비로 확장 */
  left: 0;      /* li 요소의 왼쪽부터 시작 */
  transform: translateX(0); /* 왼쪽으로 이동 */
}

/* footerMenu-end */

.footerMenu2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 10px ;
  top: 100px;
  left: 50%;
  clear: both;
  transform: translate(-50%);
  flex-wrap: wrap;
}

.footerMenu2 select, .footerMenu3 select{
  width: 148px;
  font-size: 12px;
}

.footerMenu3{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 10px ;
  top: 130px;
  left: 50%;
  clear: both;
  transform: translate(-50%);
  flex-wrap: wrap;
}

.footerMenu2-select{
  display: flex;
  justify-content: center;
  gap: 2px;
}

.footerMenu3-select{
  display: flex;
  justify-content: center;
  gap: 2px;
}

.footerMenu2 button, .footerMenu3 button{
  background-color: #444;
  color: #fff;
  border: none;
  font-size: 11px;
  cursor: pointer;
}

/* footerMenu2,3-end */

.main-icon-div{
  position: absolute;
  top: 106px;
  right: -5px;
  width: 175px;
  height: 45px;
}

.main-icon {
  width: 45px; /* 원하는 크기로 조절 */
  height: 45px;
  transition: opacity 0.3s ease; /* 부드러운 전환 효과 */
  cursor: pointer;
  margin: 0 5px;
}

.main-icon-div img:nth-child(1):hover {
  content: url('http://localhost:8080/images/ban01on.png');
}

.main-icon-div img:nth-child(2):hover {
  content: url('http://localhost:8080/images/ban02on.png');
}

.main-icon-div img:nth-child(3):hover {
  content: url('http://localhost:8080/images/ban03on.png');
}

/* icon-div-end */



/* /////////// */
/* 공용 디자인 */
/* ////////// */

/* validation 디자인 */
.feedback{
  font-size: 0.7rem;
  margin-top: 4px;
  visibility: hidden;
}

.feedback.error{
  color: red;
  visibility: visible;
}

.feedback.good{
  color: lightgreen;
  visibility: visible;
}



