<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="boardMapper">

   <resultMap id="board" type="com.green.H_Hospital.vo.BoardVO">
      <id column="BOARD_NUM"                property="boardNum"/>
      <result column="BOARD_TITLE"          property="boardTitle"/>
      <result column="BOARD_CONTENT"        property="boardContent"/>
      <result column="BOARD_WRITER"         property="boardWriter"/>
      <result column="CREATE_DATE"          property="createDate"/>
      <result column="MEM_ID"               property="memId"/>
   </resultMap>

   <!--게시글 목록 조회-->
   <select id="getBoardList" resultMap="board">
      SELECT BOARD_NUM
         , BOARD_TITLE
         , BOARD_WRITER
         , CREATE_DATE
      FROM SERVICE_BOARD
      ORDER BY BOARD_NUM DESC
   </select>

   <!--게시글 등록-->
   <insert id="insertBoard">
      INSERT INTO SERVICE_BOARD (
         BOARD_TITLE
         , BOARD_CONTENT
         , MEM_ID
      ) VALUES (
         #{boardTitle}
         , #{boardContent}
         , #{memId}
      )
   </insert>







</mapper>































