<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="memberMapper">
    <resultMap id="member" type="com.green.H_Hospital.member.vo.MemberVO">
        <result column="MEM_ID"         property="memId"/>
        <result column="MEM_PW"         property="memPw"/>
        <result column="MEM_NAME"       property="memName"/>
        <result column="MEM_ADDR"       property="memAddr"/>
        <result column="ADDR_DETAIL"    property="addrDetail"/>
        <result column="MEM_TEL"        property="memTel"/>
        <result column="POST"           property="post"/>
        <result column="MEM_ROLE"       property="memRole"/>
        <result column="H_CODE"         property="hCode"/>
        <result column="GENDER"         property="gender"/>
        <result column="BIRTHDAY"       property="birthday" />
        <result column="EMAIL"          property="email" />
    </resultMap>

    <!--회원 가입을 위한 기본적인 정보 입력-->
    <insert id="insertMember">
        INSERT INTO HOSPITAL_MEMBER(
            MEM_ID
            , MEM_PW
            , MEM_NAME
            , MEM_TEL
            , GENDER
            , BIRTHDAY
            , EMAIL
        ) VALUES (
            #{memId}
            , #{memPw}
            , #{memName}
            , #{memTel}
            , #{gender}
            , #{birthday}
            , #{email}
        );
    </insert>

    <!-- 이메일 중복 체크 -->
    <select id="idChk" resultType="string">
        SELECT EMAIL
        FROM HOSPITAL_MEMBER
        WHERE EMAIL = #{email}
    </select>

    <!-- 회원 기초정보 체크 -->
    <select id="getMemberList" resultMap="member">
        SELECT MEM_ID
            ,   MEM_PW
            ,   MEM_NAME
            ,   MEM_ADDR
            ,   ADDR_DETAIL
            ,   MEM_TEL
            ,   POST
            ,   MEM_ROLE
            ,   H_CODE
            ,   GENDER
            ,   BIRTHDAY
            ,   EMAIL
        FROM HOSPITAL_MEMBER
        WHERE MEM_TEL = #{memTel}
    </select>

	<!-- 회원가입 기초정보 업데이트 -->
    <update id="updateMember">
        UPDATE HOSPITAL_MEMBER
        SET
            MEM_ID = #{memId}
            ,   MEM_PW = #{memPw}
            ,   EMAIL = #{email}
        WHERE MEM_TEL = #{memTel}
    </update>

    <!-- sns 회원가입 -->
    <insert id="insertSnsMember">
        INSERT INTO hospital_member
            (MEM_ID
            ,   MEM_NAME
            ,   BIRTHDAY
            ,   GENDER
            ,   EMAIL
            ,   MEM_PW
            ,   MEM_TEL)
        VALUES(
            #{memId}
            ,   #{memName}
            ,   #{birthday}
            ,   #{gender}
            ,   #{email}
            ,   #{memPw}
            ,   #{memTel}
        )
    </insert>

    <!-- 아이디 찾기 -->
    <select id="findId" resultType="string">
        SELECT MEM_ID
            , GENDER
            , BIRTHDAY
            , MEM_TEL
        FROM hospital_member
        WHERE MEM_TEL = #{memTel}
    </select>

    <!-- 로그인 -->
    <select id="login" resultMap="member">
        SELECT MEM_ID, MEM_NAME, MEM_ROLE
        FROM hospital_member
        WHERE MEM_ID = #{memId}
        AND MEM_PW = #{memPw};
    </select>

    <!--비밀번호 찾기-->
    <select id="findPw" resultType="string">
        SELECT MEM_PW
            , MEM_ID
            , MEM_NAME
            , GENDER
            , BIRTHDAY
        FROM HOSPITAL_MEMBER
        WHERE MEM_ID = #{memId}
    </select>

</mapper>































