<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="memberMapper">
    <resultMap id="member" type="com.green.H_Hospital.member.vo.MemberVO">
        <result column="MEM_ID"         property="memId"/>
        <result column="MEM_PW"         property="memPw"/>
        <result column="MEM_NAME"       property="memName"/>
        <result column="MEM_ADDR"       property="memAddr"/>
        <result column="ADDR_DETAIL"    property="addrDetail"/>
        <result column="MEM_TEL"        property="memTel"/>
        <result column="POST"           property="post"/>
        <result column="MEM_ROLE"       property="memRole"/>
        <result column="H_CODE"         property="hCode"/>
        <result column="GENDER"         property="gender"/>
        <result column="BIRTHDAY"       property="birthday" />
        <result column="EMAIL"          property="email" />
    </resultMap>

    <!--회원 가입을 위한 기본적인 정보 입력-->
    <insert id="insertMember">
        INSERT INTO HOSPITAL_MEMBER(
            MEM_ID
            , MEM_PW
            , MEM_NAME
            , MEM_TEL
            , GENDER
            , BIRTHDAY
            , EMAIL
        ) VALUES (
            #{memId}
            , #{memPw}
            , #{memName}
            , #{memTel}
            , #{gender}
            , #{birthday}
            , #{email}
        );
    </insert>

    <!-- id 중복 체크 -->
    <select id="idChk" resultType="string">
        SELECT MEM_ID
        FROM HOSPITAL_MEMBER
        WHERE MEM_ID = #{memId}
    </select>

	
</mapper>































