<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="reservationMapper">
   <!-- Collection이 아닌 단일 MemberVO를 가져오는 경우 -->
   <resultMap id="reservation" type="com.green.H_Hospital.reservation.vo.ReservationVO">
      <id column="RES_NUM"                property="resNum"/>
      <result column="RES_DATE"           property="resDate"/>
      <result column="RES_TIME"           property="resTime"/>
      <result column="SERVICE_TYPE"       property="serviceType"/>
      <result column="STATUS"             property="status"/>
      <result column="DISEASE"            property="disease"/>
      <result column="SURGERY"            property="surgery"/>
      <result column="MEM_NUM"            property="memNum"/>
      <association property="memberVO"    resultMap="memberMapper.member" />
   </resultMap>

   <!-- Collection으로 여러 MemberVO를 가져오는 경우 -->
   <resultMap id="reservationWithMemberList" type="com.green.H_Hospital.reservation.vo.ReservationVO">
      <id column="RES_NUM"                property="resNum"/>
      <result column="RES_DATE"           property="resDate"/>
      <result column="RES_TIME"           property="resTime"/>
      <result column="SERVICE_TYPE"       property="serviceType"/>
      <result column="STATUS"             property="status"/>
      <result column="DISEASE"            property="disease"/>
      <result column="SURGERY"            property="surgery"/>
      <result column="MEM_NUM"            property="memNum"/>
      <collection property="memberVOList" resultMap="memberMapper.member"/>
   </resultMap>

   <!-- 예약회원 정보 조회 -->
   <select id="getMember" resultMap="memberMapper.member" >
      SELECT h.MEM_NAME, h.MEM_TEL, h.MEM_NUM
      FROM hospital_member h
      WHERE h.MEM_NUM = #{memNum};
   </select>

   <!-- 예약정보 입력 -->
   <insert id="insertReservation">
      INSERT INTO hospital_reservation (
         MEM_NUM,
         RES_DATE,
         RES_TIME,
         SERVICE_TYPE
      ) VALUES (
         #{memNum},
         #{resDate},
         #{resTime},
         #{serviceType}
      );
   </insert>

   <!--진료예약조회-->
   <select id="getReservation" resultMap="reservation">
      SELECT r.MEM_NUM
         , MEM_NAME
         , MEM_TEL
         , SERVICE_TYPE
         , RES_DATE
         , RES_TIME
      FROM HOSPITAL_MEMBER h, HOSPITAL_RESERVATION r
      WHERE h.MEM_NUM = r.MEM_NUM
      ORDER BY RES_TIME ASC;
   </select>

   <!--환자 차트에서 모든 환자 조회-->
   <select id="getPatientInfoAll" resultMap="reservationWithMemberList">
      SELECT RES_NUM
         , MEM_NAME
         , MEM_TEL
         , GENDER
         , TIMESTAMPDIFF(YEAR, BIRTHDAY, CURDATE()) AS AGE
         , M.MEM_NUM
         , SERVICE_TYPE
         , DISEASE
         , SURGERY
      FROM HOSPITAL_RESERVATION R, HOSPITAL_MEMBER M
      WHERE R.MEM_NUM = M.MEM_NUM
   </select>

</mapper>































