<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="serviceMapper">
    <resultMap id="service" type="com.green.H_Hospital.serviceCenter.vo.ServiceCenterVO">
        <id column="BOARD_NUM" property="boardNum"/>
        <result column="BOARD_TITLE" property="boardTitle"/>
        <result column="BOARD_CONTENT" property="boardContent"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="MEM_NUM" property="memNum"/>
        <collection property="memberVO"     resultMap="memberMapper.member" />
    </resultMap>

    <!-- 게시글 조회 -->
    <select id="getContentList" resultMap="service">
        SELECT BOARD_NUM,
        BOARD_TITLE,
        BOARD_CONTENT,
        DATE_FORMAT(CREATE_DATE, '%Y-%m-%d') AS CREATE_DATE,
        MEM_NUM
        FROM SERVICE_BOARD;
    </select>


    <!-- 게시글 등록 -->
    <insert id="insertContent">
        INSERT INTO service_board(
            BOARD_TITLE,
            BOARD_CONTENT,
            MEM_NUM
        )VALUES(
            #{boardTitle},
            #{boardContent},
            #{memNum}
        )
    </insert>

    <!--게시글 상세보기-->
    <select id="getContentDetail" resultMap="service">
        SELECT BOARD_NUM
            , BOARD_TITLE
            , BOARD_CONTENT
            , CREATE_DATE
            , MEM_NUM
        FROM SERVICE_BOARD
        WHERE BOARD_NUM = #{boardNum}
    </select>

    <!--게시글 삭제-->
    <delete id="deleteContent">
        DELETE FROM SERVICE_BOARD
        WHERE BOARD_NUM = #{boardNum}
    </delete>

    <!--게시글 수정-->
    <update id="updateContent">
        UPDATE SERVICE_BOARD
        SET
        BOARD_TITLE = #{boardTitle},
        BOARD_CONTENT = #{boardContent}
        WHERE BOARD_NUM = #{boardNum}
    </update>
	
</mapper>































